<div class="promptBox">
  <div class="container">
    <h1>{{data.firstName}} {{data.lastName}}</h1>
    <h2>Address</h2>
    <span>{{data.street}}</span>
    <span>{{data.postcode}}</span>
    <span>{{data.city}}</span>
    <h2>Phone</h2>
    {{data.phone}}
    <div class="decision">
      <button (click)="cancelClick()">Back</button>
      <button (click)="editUser(data)">Edit</button>
      <button (click)="delUser(data)">Delete</button>
    </div>
  </div>
</div>
