.options {
  display: flex;
  justify-content: space-between;
}

.filter-by {
  margin-right: auto;
}

table {
  width: 100%;
  background: none;
  margin: 1rem 0.3rem;
}

th.mat-header-cell {
  background: var(--secondary);
}

th.mat-header-cell:nth-child(4),
th.mat-header-cell:nth-child(5) {
  background: none;
}

th,
td {
  background: white;
  border: 0.2rem solid var(--body-bg);
  border-radius: 0.5rem;
  padding: 1rem 2rem !important;
}

td.mat-cell:nth-child(4),
td.mat-cell:nth-child(5) {
  text-align: center;
  padding: 0 !important;
}

tr:hover td {
  background: var(--highlight);
}

.mat-paginator {
  background: none;
}

table button {
  background: none;
  color: var(--primary);
  padding: 0.5rem;
}

table button:hover {
  color: var(--primary-dark);
}
