<div class="container">
  <div class="options">
    <input (keyup)="applyFilter($event)" placeholder="Filter employees" />

    <mat-form-field appearance="fill" class="filter-by">
      <mat-select [(ngModel)]="selectedValue" name="food">
        <mat-option value="byName">By Name</mat-option>
        <mat-option value="byId">By Id</mat-option>
      </mat-select>
    </mat-form-field>

    <button (click)="createUser()">Add employee</button>
  </div>

  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <table mat-table [dataSource]="dataSource">
    <!-- Number Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef width="1%">ID</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Lastname</th>
      <td mat-cell *matCellDef="let row">{{ row.lastName }}</td>
    </ng-container>

    <!-- State Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>Firstname</th>
      <td mat-cell *matCellDef="let row">{{ row.firstName }}</td>
    </ng-container>

    <!-- <ng-container matColumnDef="street">
      <th mat-header-cell *matHeaderCellDef>Street</th>
      <td mat-cell *matCellDef="let row">{{ row.street }}</td>
    </ng-container>

    <ng-container matColumnDef="postcode">
      <th mat-header-cell *matHeaderCellDef>Postcode</th>
      <td mat-cell *matCellDef="let row">{{ row.postcode }}</td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef>City</th>
      <td mat-cell *matCellDef="let row">{{ row.city }}</td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let row">{{ row.phone }}</td>
    </ng-container> -->

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef width="1%"></th>
      <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
        <button (click)="editUser(row)"><mat-icon aria-hidden="false">edit</mat-icon></button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef width="1%"></th>
      <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
        <button (click)="delUser(row)"><mat-icon aria-hidden="false">delete</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayColumns"
      (click)="selectUser(row)"
    ></tr>
  </table>

  <mat-paginator
    #paginator
    [pageSize]="20"
    [pageSizeOptions]="[5, 10, 20]"
  ></mat-paginator>
</div>
