form {
  display: flex;
  flex-wrap: wrap;
}

form .form-group:nth-child(1),
form .form-group:nth-child(2) {
  width: calc(50% - 1rem);
}

input {
  width: calc(100% - 1rem);
}

h2 {
  width: 100%;
}
