<div class="promptBox">
  <div class="container">
    <h1>Add Employee</h1>
    <form [formGroup]="form" (ngSubmit)="submitEmployee()">
      <div class="form-group">
        <input type="text" formControlName="firstName" class="form-control" placeholder="Firstname" [(ngModel)]="res.firstName">
        <div *ngIf="submitted && this.form.get('firstName')?.errors" class="mat-error">
          <div *ngIf="this.form.get('firstName')?.errors?.['required']">Firstname is required</div>
        </div>
      </div>
      <div class="form-group">
        <input type="text" formControlName="lastName" class="form-control" placeholder="Lastname" [(ngModel)]="res.lastName">
        <div *ngIf="submitted && this.form.get('lastName')?.errors" class="mat-error">
          <div *ngIf="this.form.get('lastName')?.errors">Lastname is required</div>
        </div>
      </div>
      <h2>Address</h2>
      <div class="form-group">
        <input type="text" formControlName="street" class="form-control" placeholder="Street" [(ngModel)]="res.street">
        <div *ngIf="submitted && this.form.get('street')?.errors" class="mat-error">
          <div *ngIf="this.form.get('street')?.errors">Street is required</div>
        </div>
      </div>
      <div class="form-group">
        <input type="text" formControlName="postCode" class="form-control" placeholder="Postcode" [(ngModel)]="res.postcode">
        <div *ngIf="submitted && this.form.get('postCode')?.errors" class="mat-error">
          <div *ngIf="this.form.get('postCode')?.errors?.['required'] ">Postcode is required</div>
          <div *ngIf="this.form.get('postCode')?.errors?.['minlength'] || this.form.get('postCode')?.errors?.['maxlength']">Postcode has to be 5 digits.</div>
        </div>
      </div>
      <div class="form-group">
        <input type="text" formControlName="city" class="form-control" placeholder="City" [(ngModel)]="res.city">
        <div *ngIf="submitted && this.form.get('city')?.errors" class="mat-error">
          <div *ngIf="this.form.get('city')?.errors">City is required</div>
        </div>
      </div>
      <h2>Phone</h2>
      <div class="form-group">
        <input type="text" formControlName="phone" class="form-control" placeholder="+49..." [(ngModel)]="res.phone">
        <div *ngIf="submitted && this.form.get('phone')?.errors" class="mat-error">
          <div *ngIf="this.form.get('phone')?.errors">Phone is required</div>
        </div>
      </div>
    </form>
    <div class="form-group">
      <div class="decision">
        <button (click)="cancel()">Cancel</button>
        <button type="submit" (click)="submitEmployee()">Add</button>
      </div>
    </div>
  </div>
</div>
