<header>
  <button [hidden]="getLoggedIn() !== 'yes'" title="Logout" (click)="logout()"><mat-icon aria-hidden="false">logout</mat-icon></button>
  <div class="logo">Employee <strong>Manager</strong></div>
</header>
