header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 1rem 3rem;
  background: white;
  align-items: center;
  z-index: 1001;
}

header button {
  background: none;
  color: var(--primary);
  padding: 1rem;
}

header button:hover {
  color: var(--primary-dark);
}

.logo {
  margin-left: auto;
  color: var(--primary);
  font-size: 2rem;
  text-transform: lowercase;
  padding: 2rem 0;
}

.logo strong {
  color: var(--primary-dark);
}
