<div class="promptBox">
  <p>Do you want to delete this employee?</p>
  <div class="decision">
    <button (click)="cancelClick()">Cancel</button>
    <button type="submit" (click)="deleteClick()">Delete</button>
  </div>
</div>
