<div class="container">
  <h1>Logging in is fun</h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
      <input id="username" type="text" formControlName="username" placeholder="Username" required>
      <div [hidden]="this.loginForm.get('username')?.valid || this.loginForm.get('username')?.pristine">
        Please enter a Username.
      </div>
    </div>
    <div>
      <input id="password" type="password" formControlName="password" placeholder="Password" required>
      <div [hidden]="this.loginForm.get('password')?.valid || this.loginForm.get('password')?.pristine">
        Please enter a Password.
      </div>
    </div>
    <div [hidden]="!failedLogin">
      <p>{{errorText}}</p>
    </div>
    <div>
      <button [disabled]="(!this.loginForm.get('username')?.valid && !this.loginForm.get('username')?.pristine) || (!this.loginForm.get('password')?.valid && !this.loginForm.get('password')?.pristine)" class="button" type="submit" (click)="login()">Login</button>
    </div>
  </form>
</div>
