<div class="promptBox">
  <h1>Edit Employee</h1>
  <input type="text" id="newFirstname" name="newFirstname" [(ngModel)]="data.firstName" />
  <input type="text" id="newLastname" name="newLastname" [(ngModel)]="data.lastName" />
  <input type="text" id="newStreet" name="newStreet" [(ngModel)]="data.street" />
  <input type="text" id="newPostcode" name="newPostcode" [(ngModel)]="data.postcode" />
  <div *ngIf="postCodeError" class="mat-error">Postcode has to be 5 digits.</div>
  <input type="text" id="newCity" name="newCity" [(ngModel)]="data.city" />
  <input type="text" id="newPhone" name="newPhone" [(ngModel)]="data.phone" />
  <div class="decision">
    <button (click)="cancelClick()">Cancel</button>
    <button type="submit" (click)="editClick()">Save</button>
  </div>
</div>
