/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.1s linear;
}

:root {
  --primary: #748f3f;
  --primary-dark: #5e752f;
  --secondary: #eaeaea;
  --body-bg: #fafafa;
  --body-color: #3c3c3c;
  --light-gray: #999;
  --highlight: #e1edca;
}

body {
  background: var(--body-bg);
  color: var(--body-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

button {
  padding: 1rem 2rem;
  background: var(--primary);
  color: var(--secondary);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  margin: 0.5rem;
}

button:hover {
  background: var(--primary-dark);
}

input {
  padding: 1rem;
  background: var(--secondary);
  border-radius: 0.5rem;
  border: none;
  margin: 0.5rem;
}

input::placeholder {
  color: var(--light-gray);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 10rem 5rem 5rem 5rem;
}

h1 {
  font-size: 4rem;
  color: var(--primary);
  border-bottom: 2px solid var(--secondary);
  padding-bottom: 1rem;
  text-transform: lowercase;
}

h2 {
  font-size: 2rem;
  color: var(--primary);
  text-transform: lowercase;
  padding-top: 1rem;
}

.decision {
  text-align: center;
  margin-top: 2rem;
}

/* overwrite material styles */

.mat-progress-spinner {
  margin: auto;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: var(--primary);
}

.mat-icon-button:hover {
  background: none;
  color: var(--primary);
}

.cdk-overlay-pane {
  max-width: 100vw !important;
}

.cdk-overlay-dark-backdrop {
  background: rgba(200, 200, 200, 0.5);
}

.mat-dialog-container {
  background: var(--body-bg);
  box-shadow: none;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0.5rem 1rem;
  background: none;
}
